<nav class="navbar navbar-default top-menu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path("homepage") }}">CarCheck</a>
        </div>
            <ul class="nav navbar-nav">
                <li class="navbar-nav">
                    <a href="{{ path("homepage") }}" class="navbar-link">
                        Véhicules
                    </a>
                </li>
            </ul>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% block login_zone %}
                {% if is_granted("ROLE_FRONT_USER",app.user) %}
                    {% include ":blocks:_logged-in-zone.html.twig" %}
                {% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY",app.user) %}
                    {% include ":blocks:_login-zone.html.twig" %}
                {% endif %}
            {% endblock %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>